<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/conversation"></ion-back-button>
    </ion-buttons>
    <ion-title>Fatima Abdallah</ion-title>
    <ion-buttons slot="end">
      <ion-avatar slot="start">
        <img src="assets/avatar.jpg" />
      </ion-avatar>
      <ion-button>
        <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="chat-container">
    <div class="message other-message">
      <div class="message-text">Hello Mortada</div>
      <div class="message-time">18:34</div>
    </div>

    <div class="message my-message">
      <div class="message-text">Hi Fatima</div>
      <div class="message-text">
        I have nothing to say to you, but if you like avocados we can have a
        salad
      </div>
      <div class="message-time">18:38</div>
    </div>

    <div class="message other-message">
      <div class="message-text">
        I hope you live nearby, i don't like driving long distances
      </div>
      <div class="message-time">18:38</div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col size="10">
        <ion-item lines="none">
          <ion-textarea
            autoGrow="true"
            placeholder="Type your message here"
          ></ion-textarea>
        </ion-item>
      </ion-col>
      <ion-col size="2">
        <ion-button fill="clear" color="primary">
          <ion-icon slot="icon-only" name="send"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
